
    <nav class="shell">
        <ul class="buttons">
            <li class="li">
                Management
                <ul>
                    <li>Sold baby</li>
                    <li>Evaluation</li>
                    <li>Shopkeeper</li>
                    <li>Management</li>
                </ul>
            </li>

            <li class="li">
                Logistics
                <ul>
                    <li>Warehouse</li>
                    <li>deliver goods</li>
                    <li>stock</li>
                    <li>mail</li>
                    <li>return goods</li>
                </ul>
            </li>

            <li class="li">
                Treasure
                <ul>
                    <li>Release baby</li>
                    <li>Posting Details</li>
                    <li>Shop decoration</li>
                </ul>
            </li>

            <li class="li">
                Financial Service
                <ul>
                    <li>payment</li>
                    <li>Loan goods</li>
                    <li>Collection in advance</li>
                </ul>
            </li>
        </ul>
    </nav>
