// 主页-图片部分flex排列

.flex-full-page{
	display: flex;
	margin: 0 auto;
	max-width: 70em;
}
.main-body{
	flex: 1;
}
.navigator{
	width: 280px;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
@media (max-width: 1200px) {
	.navigator{
		display: none;
	}
}
.flex-row{
	display: flex;
	flex-direction: row;
	margin: 2.5rem;
}

.flex-dev{
	flex: 1;
	padding-right: 4rem;
	//height: 600px;
}
.img-container{
	height: 200px;
	align-items: center;
	justify-content: center;
}
.flex-p{
	padding: 0 0 1rem;
	letter-spacing: normal;
	font-size: 1.2rem;
}
.flex-h1{
	font-size: 1.8rem;
	text-align: center;
}

// posts-左侧图片，右侧文章
.flex-3-rows,
.flex-article{
	flex: 1;
	padding-left: 3rem;
}

.flex-3-rows{
	display: flex;
	flex-direction: column;
	.flex-img{
		//width: 300px;
		flex: 1;
		align-items: center;
		justify-content: center;
	}
}



.container {
	display: block;
	margin: 0 auto;
	max-width: 70em;
	padding: 0 3rem;
	@include clearfix;
}

.header {
	background: $color-white;
	padding: 3rem 0;
}

.logo {
	float: left;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.nav {
	float: right;

	a {
		@extend .logo;
	}
}

.content {
	background: $color-white;
	padding: 3rem 0 0;
	margin-bottom: 31.24rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		padding: 5rem 0 0;
		margin-bottom: 23.42rem;
	}
}

.intro {
	padding: 0 0 2rem;
}

.projects {
	padding: 0 0 5rem;
}

.intro {
	@media (min-width: $breakpoint-medium) {
		p {
			max-width: 80%;
		}
		h1
		{
			font-size: 3rem;
		}
	}
}

#div-colored {
		padding: 1rem 5rem 1rem;
		background-color: #edeafd;
		margin-bottom: 1rem;
		color: #494b60;
}
#c-intro {
		padding-bottom: 1rem;
		border-bottom: solid 1px #f2f3f3;

}
#p-intro{
		padding: 1rem 0 1rem;
}



.projects-list {
	@media (min-width: $breakpoint-small) {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@include clearfix;
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 100%;
		}
	}

	li {
		margin-bottom: 2rem;
		padding: 1rem 0 1rem;
		border-bottom: solid 1px #f2f3f3;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.ref h1{
		text-decoration:underline;
		&:hover {
			color: #3550a8;
		}
	}


	img {
		width: 100%;
	}

	span {
		margin: .5rem 0 .5rem;
	}
}

.project {
	left: 0;
	position: relative;
	top: 0;

	@media (min-width: $breakpoint-medium) {
		margin-left: 5rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.container {
		max-width: 100%;
	}

	.project-meta {
		margin: 3rem 0 0;
		max-width: 60%;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 3rem 0 .5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		a {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
	}
}

.project-navigation {
	background: $color-black;
	padding: 5rem 0;

	a {
		color: $color-white;
		display: inline-block;

		&:hover {
			h2:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			&.prev {
				span {
					left: 7px;
				}
			}

			span {
				&:after {
					left: 7px;
				}

				&:before {
					left: -7px;
				}
			}
		}

		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: table;
			margin: 0 auto;
			text-align: center;

			@media (min-width: $breakpoint-xsmall) {
				display: inline-block;
				margin: 0;
				text-align: left;
			}
		}

		&:nth-of-type(1) {
			@media (min-width: $breakpoint-xsmall) {
				float: left;
			}
		}

		&:nth-of-type(2) {
			margin-top: 3rem;

			@media (min-width: $breakpoint-xsmall) {
				float: right;
				margin-top: 0;
			}
		}

		&.next {
			span {
				&:after {
					content: "\02192";
				}
			}
		}

		&.prev {
			span {
				position: relative;
				left: 0;
				-webkit-transition: all .3s ease-in-out 0s;
				transition: all .3s ease-in-out 0s;

				&:before {
					content: "\02190";
				}
			}
		}
	}

	span {
		&:after,
		&:before {
			position: relative;
			left: 0;
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}

	h2 {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -4px;
			left: 0;
			background-color: $color-white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}
}

.footer {
	background: $color-alabaster;
	bottom: 0;
	left: 0;
	padding: 5rem 0;
	position: fixed;
	right: 0;
	z-index: -1;
}

.contact,
.follow {
	@media (min-width: $breakpoint-medium) {
		float: right;
		margin-bottom: 0;
		width: 33.33333%;
	}
}

.contact,
.follow {
	margin-bottom: 3rem;
}

// 导航栏样式
.shell {
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	height: 100vh;
	background-color: #faf9fe;
}

.buttons {
	margin: 60px 0;
	color: #494b60;
}

.li {
	letter-spacing: 2px;
	font: 600 17px '';
	padding: 16px 52px;
	transition: .3s;
}

.li::after {
	content: '';
	position: absolute;
	left: 20px;
	margin-top: -22px;
	display: block;
	width: 20px;
	height: 20px;
	background-color: #d7d2ff;
	border-radius: 10%;
}

.buttons > li:hover {
	background-color: #edeafd;
}

.li ul {
	width: 0;
	height: 100vh;
	padding: 60px 0;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	background-color: #edeafd;
	transition: .3s;
}

.li ul li {
	padding: 16px 24px;
	transition: .3s;
}

.li:hover ul {
	width: 228px;
}

.li ul li:hover {
	background-color: #cbc3ff;
}